<p>recipe-details works!</p>
<div> <img src="assets/{{recipe.photo}}" alt="{{recipe.photo}}" style="width:96px;height:96px;"> </div>
<!-- <div *ngFor ="let recip of recipe"> -->
<!-- <div>ID: {{recipe.id}}</div> -->
<div>Recipe Name: {{recipe.recipeName}}</div>
<!-- <div>Recipe Creation Date: {{recipe.date}}</div> -->
<div>Recipe Rating: {{recipe.rating}}</div>


<div>Instruction: {{recipe.instruction}}</div>
<p></p>
Allergens:
<p></p>
<div *ngIf="recipe.gluten">Gluten: {{recipe.gluten}}</div>
<div *ngIf="recipe.shellfish">Shellfish: {{recipe.shellfish}}</div>
<div *ngIf="recipe.eggs">Eggs: {{recipe.eggs}}</div>
<div *ngIf="recipe.fish">Fish: {{recipe.fish}}</div>
<div *ngIf="recipe.peanuts">Peanuts: {{recipe.peanuts}}</div>
<div *ngIf="recipe.soy">Soy: {{recipe.soy}}</div>
<div *ngIf="recipe.lactose">Lactose: {{recipe.lactose}}</div>
<div *ngIf="recipe.celery">Celery: {{recipe.celery}}</div>
<div *ngIf="recipe.mustard">Mustard: {{recipe.mustard}}</div>
<div *ngIf="recipe.sesame">Sesame: {{recipe.sesame}}</div>
<div *ngIf="recipe.sulphuR_DIOXIDE">Sulphur_dioxide: {{recipe.sulphuR_DIOXIDE}}</div>
<div *ngIf="recipe.lupine">Lupine: {{recipe.lupine}}</div>
<div *ngIf="recipe.muscles">Muscles: {{recipe.muscles}}</div>
<!-- {{recipe.ingredients[0].ingredient}} -->
<li *ngFor="let ingredient of recipe.ingredients">
    {{ingredient.ingredient}}
</li>
<!-- <div>przerwa</div>
<div>{{token}}</div>
<div>przerwa</div> -->
<!-- <div>{{recipe.UserId}}</div>
<div>przerwa</div> -->

<!-- </div> -->
<p><input type="number" #rateValue> Rate me!</p>
<button mat-button class="button-edit" role="button" (click)="editRecipeDetail(recipe.id)">Edit</button>
<div class="space"> </div>
<button may-button class="button-saveR" role="button" (click)="rateRecipe(rateValue.value)">Save Rating</button>
<div class="space"> </div>

<!-- <ng-container *ngIf="token===recipe.userId"> -->

<button mat-button class="button-add" role="button" (click)="addToMyList()" [routerLink]="['/myrecipes']">Dodaj do
    książki</button>
<div class="space"> </div>
<button mat-button class="button-view" role="button" (click)="viewPersonList(recipe.userId)">Zobacz przepisy
    autora</button>

<!-- </ng-container> -->
<!-- do ukrycia button  -->