
Web Api/CompanyEmployees/.vs/CompanyEmployees/v16/.suo
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.assets.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csprojAssemblyReference.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.assets.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csprojAssemblyReference.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.assets.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.assets.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csprojAssemblyReference.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.assets.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csprojAssemblyReference.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.assets.cache
*.cache
Web Api/CompanyEmployees/.vs/CompanyEmployees/DesignTimeBuild/.dtbcache.v2
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.futdcache.v1
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.suo
*.cache
Web Api/CompanyEmployees/.vs/CompanyEmployees/DesignTimeBuild/.dtbcache.v2
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.futdcache.v1
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.suo
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/staticwebassets.pack.sentinel
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/ref/Entities.dll
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/ref/Entities.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.suo
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/staticwebassets.pack.sentinel
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.suo
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/staticwebassets.pack.sentinel
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/ref/Entities.dll
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/ref/Entities.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.pdb
*.sentinel
*.cache
*.pdb
*.dll
AngularClient/.vscode/launch.json
AngularClient/.vscode/launch.json
AngularClient/package-lock.json
AngularClient/package.json
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.assets.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.assets.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.assets.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.assets.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.assets.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/CompanyEmployees.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/CompanyEmployees/obj/CompanyEmployees.csproj.nuget.g.props
Web Api/CompanyEmployees/CompanyEmployees/obj/CompanyEmployees.csproj.nuget.g.targets
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.assets.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/project.assets.json
Web Api/CompanyEmployees/CompanyEmployees/obj/project.nuget.cache
Web Api/CompanyEmployees/Contracts/obj/Contracts.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/Contracts/obj/Contracts.csproj.nuget.g.props
Web Api/CompanyEmployees/Contracts/obj/Contracts.csproj.nuget.g.targets
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.assets.cache
Web Api/CompanyEmployees/Contracts/obj/project.assets.json
Web Api/CompanyEmployees/Contracts/obj/project.nuget.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.assets.cache
Web Api/CompanyEmployees/Entities/obj/Entities.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/Entities/obj/Entities.csproj.nuget.g.props
Web Api/CompanyEmployees/Entities/obj/Entities.csproj.nuget.g.targets
Web Api/CompanyEmployees/Entities/obj/project.assets.json
Web Api/CompanyEmployees/Entities/obj/project.nuget.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.assets.cache
Web Api/CompanyEmployees/LoggerService/obj/LoggerService.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/LoggerService/obj/LoggerService.csproj.nuget.g.props
Web Api/CompanyEmployees/LoggerService/obj/LoggerService.csproj.nuget.g.targets
Web Api/CompanyEmployees/LoggerService/obj/project.assets.json
Web Api/CompanyEmployees/LoggerService/obj/project.nuget.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.assets.cache
Web Api/CompanyEmployees/Repository/obj/project.assets.json
Web Api/CompanyEmployees/Repository/obj/project.nuget.cache
Web Api/CompanyEmployees/Repository/obj/Repository.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/Repository/obj/Repository.csproj.nuget.g.props
Web Api/CompanyEmployees/Repository/obj/Repository.csproj.nuget.g.targets
Web Api/CompanyEmployees/CompanyEmployees/obj/CompanyEmployees.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/CompanyEmployees/obj/CompanyEmployees.csproj.nuget.g.props
Web Api/CompanyEmployees/CompanyEmployees/obj/CompanyEmployees.csproj.nuget.g.targets
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.assets.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/project.assets.json
Web Api/CompanyEmployees/CompanyEmployees/obj/project.nuget.cache
Web Api/CompanyEmployees/Contracts/obj/Contracts.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/Contracts/obj/Contracts.csproj.nuget.g.props
Web Api/CompanyEmployees/Contracts/obj/Contracts.csproj.nuget.g.targets
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.assets.cache
Web Api/CompanyEmployees/Contracts/obj/project.assets.json
Web Api/CompanyEmployees/Contracts/obj/project.nuget.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.assets.cache
Web Api/CompanyEmployees/Entities/obj/Entities.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/Entities/obj/Entities.csproj.nuget.g.props
Web Api/CompanyEmployees/Entities/obj/Entities.csproj.nuget.g.targets
Web Api/CompanyEmployees/Entities/obj/project.assets.json
Web Api/CompanyEmployees/Entities/obj/project.nuget.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.assets.cache
Web Api/CompanyEmployees/LoggerService/obj/LoggerService.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/LoggerService/obj/LoggerService.csproj.nuget.g.props
Web Api/CompanyEmployees/LoggerService/obj/LoggerService.csproj.nuget.g.targets
Web Api/CompanyEmployees/LoggerService/obj/project.assets.json
Web Api/CompanyEmployees/LoggerService/obj/project.nuget.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.assets.cache
Web Api/CompanyEmployees/Repository/obj/project.assets.json
Web Api/CompanyEmployees/Repository/obj/project.nuget.cache
Web Api/CompanyEmployees/Repository/obj/Repository.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/Repository/obj/Repository.csproj.nuget.g.props
Web Api/CompanyEmployees/Repository/obj/Repository.csproj.nuget.g.targets
*.json
*.props
*.targets
*.cache
Web Api/CompanyEmployees/Repository/obj/Repository.csproj.nuget.g.props
Web Api/CompanyEmployees/Repository/obj/Repository.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/Repository/obj/Release/netcoreapp6.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/Repository/obj/Release/netcoreapp6.0/Repository.AssemblyInfo.cs
Web Api/CompanyEmployees/Repository/obj/Release/netcoreapp6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Web Api/CompanyEmployees/Repository/obj/project.nuget.cache
Web Api/CompanyEmployees/Repository/obj/project.assets.json
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.genruntimeconfig.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csproj.FileListAbsolute.txt
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.assets.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.AssemblyInfo.cs
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/LoggerService/obj/Release/netcoreapp6.0/LoggerService.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/LoggerService/obj/Release/netcoreapp6.0/LoggerService.AssemblyInfo.cs
Web Api/CompanyEmployees/LoggerService/obj/Release/netcoreapp6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Web Api/CompanyEmployees/LoggerService/obj/project.nuget.cache
Web Api/CompanyEmployees/LoggerService/obj/project.assets.json
Web Api/CompanyEmployees/LoggerService/obj/LoggerService.csproj.nuget.g.props
Web Api/CompanyEmployees/LoggerService/obj/LoggerService.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.genruntimeconfig.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csproj.FileListAbsolute.txt
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.assets.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.AssemblyInfo.cs
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Entities/obj/Release/netcoreapp6.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/Entities/obj/Release/netcoreapp6.0/Entities.AssemblyInfo.cs
Web Api/CompanyEmployees/Entities/obj/Release/netcoreapp6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Web Api/CompanyEmployees/Entities/obj/project.nuget.cache
Web Api/CompanyEmployees/Entities/obj/project.assets.json
Web Api/CompanyEmployees/Entities/obj/Entities.csproj.nuget.g.props
Web Api/CompanyEmployees/Entities/obj/Entities.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/ref/Entities.dll
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.genruntimeconfig.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.csproj.FileListAbsolute.txt
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.assets.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.AssemblyInfo.cs
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/ref/Entities.dll
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Contracts/obj/Release/netcoreapp6.0/Contracts.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/Contracts/obj/Release/netcoreapp6.0/Contracts.AssemblyInfo.cs
Web Api/CompanyEmployees/Contracts/obj/Release/netcoreapp6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Web Api/CompanyEmployees/Contracts/obj/project.nuget.cache
Web Api/CompanyEmployees/Contracts/obj/project.assets.json
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.genruntimeconfig.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csproj.FileListAbsolute.txt
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.assets.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.AssemblyInfo.cs
Web Api/CompanyEmployees/Contracts/obj/Contracts.csproj.nuget.g.props
Web Api/CompanyEmployees/Contracts/obj/Contracts.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/staticwebassets.pack.sentinel
Web Api/CompanyEmployees/CompanyEmployees/obj/Release/netcoreapp6.0/CompanyEmployees.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/CompanyEmployees/obj/Release/netcoreapp6.0/CompanyEmployees.AssemblyInfo.cs
Web Api/CompanyEmployees/CompanyEmployees/obj/Release/netcoreapp6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Web Api/CompanyEmployees/CompanyEmployees/obj/project.nuget.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/project.assets.json
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.genruntimeconfig.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.GeneratedMSBuildEditorConfig.editorconfig
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.FileListAbsolute.txt
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.assets.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/apphost.exe
Web Api/CompanyEmployees/CompanyEmployees/obj/CompanyEmployees.csproj.nuget.g.props
Web Api/CompanyEmployees/CompanyEmployees/obj/CompanyEmployees.csproj.nuget.dgspec.json
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.exe
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/appsettings.json
Web Api/CompanyEmployees/CompanyEmployees/appsettings.json
Web Api/CompanyEmployees/.vs/slnx.sqlite
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.suo
Web Api/CompanyEmployees/.vs/CompanyEmployees/DesignTimeBuild/.dtbcache.v2
*.v2
