
Web Api/CompanyEmployees/.vs/CompanyEmployees/v16/.suo
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.assets.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csprojAssemblyReference.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.assets.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csprojAssemblyReference.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.assets.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.assets.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csprojAssemblyReference.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.assets.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csprojAssemblyReference.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.assets.cache
*.cache
Web Api/CompanyEmployees/.vs/CompanyEmployees/DesignTimeBuild/.dtbcache.v2
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.futdcache.v1
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.suo
*.cache
Web Api/CompanyEmployees/.vs/CompanyEmployees/DesignTimeBuild/.dtbcache.v2
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.futdcache.v1
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.suo
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/staticwebassets.pack.sentinel
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Contracts/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Entities/bin/Debug/netcoreapp6.0/ref/Entities.dll
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Entities/obj/Debug/netcoreapp6.0/ref/Entities.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/LoggerService/bin/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.dll
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Contracts.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Contracts.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Entities.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Entities.pdb
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/Repository/bin/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.dll
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.pdb
Web Api/CompanyEmployees/.vs/CompanyEmployees/v17/.suo
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.csproj.CoreCompileInputs.cache
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/CompanyEmployees.pdb
Web Api/CompanyEmployees/CompanyEmployees/obj/Debug/netcoreapp6.0/ref/CompanyEmployees.dll
Web Api/CompanyEmployees/CompanyEmployees/obj/staticwebassets.pack.sentinel
Web Api/CompanyEmployees/Contracts/obj/Debug/netcoreapp6.0/Contracts.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/LoggerService/obj/Debug/netcoreapp6.0/LoggerService.csproj.AssemblyReference.cache
Web Api/CompanyEmployees/Repository/obj/Debug/netcoreapp6.0/Repository.csproj.AssemblyReference.cache
