<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>favorite</mat-icon>
    <span>Moje przepisy</span>
  </button>
  <button mat-menu-item>
    <mat-icon>fastfood</mat-icon>
    <span>Losowy przepis</span>
  </button>
  <button mat-menu-item class="nav-link" [routerLink]="['/myrecipes']" routerLinkActive="active">
    <mat-icon>local_dining</mat-icon>
    <span>Najlepsze w ostatnim miesiącu</span>
  </button>
  <router-outlet></router-outlet>
</mat-menu>
