<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filtry
    </mat-panel-title>
    <mat-panel-description>
      Kliknij by wyświetlić filtry
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-selection-list #shoes>
    <!-- <mat-list-option *ngFor="let shoe of typesOfShoes"> -->
    <!-- {{shoe}} -->
    <!-- </mat-list-option> -->
    <input type="checkbox" name="alergen1" value="false" #gluten> gluten
    <input type="checkbox" name="alergen2" value="false" #shellfish> shellfish
    <input type="checkbox" name="alergen2" value="false" #eggs> eggs
    <input type="checkbox" name="alergen2" value="false" #fish> fish
    <input type="checkbox" name="alergen2" value="false" #peanuts> peanuts
    <input type="checkbox" name="alergen2" value="false" #soy> soy
    <input type="checkbox" name="alergen2" value="false" #lactose> lactose
    <input type="checkbox" name="alergen2" value="false" #celery> celery
    <input type="checkbox" name="alergen2" value="false" #mustard> mustard
    <input type="checkbox" name="alergen2" value="false" #sezame> sezame
    <input type="checkbox" name="alergen2" value="false" #sulphur_dioxide> sulphur_dioxide
    <input type="checkbox" name="alergen2" value="false" #lupine> lupine
    <input type="checkbox" name="alergen2" value="false" #muscles> muscles
  </mat-selection-list>


  <button type="button"
    (click)="filter(gluten.checked,shellfish.checked,eggs.checked,fish.checked,peanuts.checked,soy.checked,lactose.checked,celery.checked,mustard.checked,sezame.checked,sulphur_dioxide.checked,lupine.checked,muscles.checked)">filtruj</button>
</mat-expansion-panel>

<mat-grid-list cols="3" rows="3" rowHeight="3:2" gutterSize="15px">
  <ng-container>
    <mat-grid-tile class="tile" *ngFor="let recipe of recipes">

      <img src="../../assets/{{recipe.photo}}" alt="Food1" width="128px" height="128px">





      <mat-grid-tile-header>
        <div style="width:90% ;text-align: center">
          <h3> {{recipe.recipeName}}</h3>
        </div>
        <div style="width: 10%; text-align: center;">
          <h3>{{recipe.rating}}</h3>
        </div>
        <!-- class="vertical-center" style="margin:auto;" -->
      </mat-grid-tile-header>
      <mat-grid-tile-footer>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-button class="button-details" (click)="viewRecipeDetail(recipe.id)">
            View details <mat-icon>search</mat-icon></button>
        </div>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>