<p>my-recipes works!</p>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filtry
    </mat-panel-title>
    <mat-panel-description>
      Kliknij by wyświetlić filtry
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-selection-list #shoes>
    <mat-list-option *ngFor="let shoe of typesOfShoes">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>

  <p>
    Options selected: {{shoes.selectedOptions.selected.length}}
  </p>

</mat-expansion-panel>

<mat-grid-list cols="2" rowHeight="3:1">
  <ng-container>
    <button type="button" (click)="createRecipe()">Create recipe</button>
    <mat-grid-tile *ngFor="let recipe of recipes">
      <!-- <div>{{recipe.id}}</div> -->
      <img src="../../assets/{{recipe.photo}}" alt="Food1" style="width:96px;height:96px;">
      <div>
        <dl>
          <dt>{{recipe.recipeName}}</dt>

          <dt>{{recipe.userId}}</dt>
          <dt><button type="button" (click)="viewRecipeDetail(recipe.id)">View details</button></dt>
          <dt><button type="button" (click)="deleteRecipe(recipe.id)">Delete recipe!</button></dt>
          <dt>{{recipe.rating}}</dt>
        </dl>
      </div>
      <!-- <div>{{recipe.date}}</div> -->

      <!-- <button type="button" (click)="viewRecipeDetail(recipe.id)">View details</button> -->

    </mat-grid-tile>
  </ng-container>
</mat-grid-list>