<h1>RANDOM RECIPE</h1>
<img src="assets/{{recipe.photo}}" alt="{{recipe.photo}}" style="width:128px;height:128px;">
<!-- <div *ngFor ="let recip of recipe"> -->
<div>RECIPE NAME: {{recipe.recipeName}}</div>
<div>Recipe Rating: {{recipe.rating}}</div>

<div>Instruction?: {{recipe.instruction}}</div>
<div *ngIf="recipe.gluten">Gluten: {{recipe.gluten}}</div>
<div *ngIf="recipe.shellfish">Shellfish: {{recipe.shellfish}}</div>
<div *ngIf="recipe.eggs">Eggs: {{recipe.eggs}}</div>
<div *ngIf="recipe.fish">Fish: {{recipe.fish}}</div>
<div *ngIf="recipe.peanuts">Peanuts: {{recipe.peanuts}}</div>
<div *ngIf="recipe.soy">Soy: {{recipe.soy}}</div>
<div *ngIf="recipe.lactose">Lactose: {{recipe.lactose}}</div>
<div *ngIf="recipe.celery">Celery: {{recipe.celery}}</div>
<div *ngIf="recipe.mustard">Mustard: {{recipe.mustard}}</div>
<div *ngIf="recipe.sesame">Sesame: {{recipe.sesame}}</div>
<div *ngIf="recipe.sulphuR_DIOXIDE">Sulphur_dioxide: {{recipe.sulphuR_DIOXIDE}}</div>
<div *ngIf="recipe.lupine">Lupine: {{recipe.lupine}}</div>
<div *ngIf="recipe.muscles">Muscles: {{recipe.muscles}}</div>

<button mat-button class="button-view" role="button" (click)="viewPersonList(recipe.userId)">See what this person
    cooked</button>
<button mat-button class="button-add" role="button" (click)="addToMyList(recipe.id)" [routerLink]="['']">Dodaj do
    książki</button>
<div class="space"> </div>