<p>edit-recipe-details works!</p>
<p><input type="string" #recipeName> RecipeName</p>
<p><input type="string" #instruction> Instructions</p>
<p><input type="checkbox" #ifPublic> Public?</p>
<p><input type="checkbox" #gluten> Gluten</p>
<p><input type="checkbox" #shellfish> Shellfish</p>
<p><input type="checkbox" #eggs> Eggs</p>
<p><input type="checkbox" #fish> Fish</p>
<p><input type="checkbox" #peanuts> Peanuts</p>
<p><input type="checkbox" #soy> Soy</p>
<p><input type="checkbox" #lactose> Lactose</p>
<p><input type="checkbox" #celery> Celery</p>
<p><input type="checkbox" #mustard> Mustard</p>
<p><input type="checkbox" #sesame> Sesame</p>
<p><input type="checkbox" #sulphurdioxide> Sulphur dioxide</p>
<p><input type="checkbox" #lupine> Lupine</p>
<p><input type="checkbox" #muscles> Muscles</p>
<p><input type="checkbox" #vegan> Vegan</p>
<p><input type="checkbox" #vege> vege</p>
<input type="file" id="file" name="file" #file><br><br>

<button type="button" (click)="editRecipe(recipeName.value,instruction.value,ifPublic.checked,gluten.checked,shellfish.checked,eggs.checked,
                                fish.checked,peanuts.checked,soy.checked,lactose.checked,celery.checked,mustard.checked,sesame.checked,sulphurdioxide.checked,
                                lupine.checked,muscles.checked,vegan.checked,vege.checked, file.value)">Edit</button>