<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="nav-link" [routerLink]="['/myRecipes']" routerLinkActive="active">
      <mat-icon>favorite</mat-icon>
      <span>Moje przepisy</span>
    </button>
    <button mat-menu-item class="nav-link" [routerLink]="['/randomRecipe']" routerLinkActive="active">
      <mat-icon>fastfood</mat-icon>
      <span>Losowy przepis</span>
    </button>
    <button mat-menu-item class="nav-link" [routerLink]="['/bestRecipes']" routerLinkActive="active">
      <mat-icon>local_dining</mat-icon>
      <span>Najlepsze w ostatnim miesiącu</span>
    </button>

  </mat-menu>

  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">Cauldron</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" style="color: white;">
        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
      </li>
    </ul>
    <ul *ngIf='!isUserAuthenticated' class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/authentication/register']" routerLinkActive="active">Register</a>
      </li>
    </ul>
    <ul *ngIf='isUserAuthenticated' class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <button class="btn btn-link" style="color: #ffffff80;" (click)="logout()">Logout</button>
      </li>
    </ul>
  </form>
</nav>